<table>
  <tr class='table-header'>
    <th>Team</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
    <th>9</th>
    <th>R</th>
    <th>H</th>
    <th>E</th>
  </tr>
  <tr>
    <th>{{game.away}}</th>
    <th>{{game.topOne}}</th>
    <th>{{game.topTwo}}</th>
    <th>{{game.topThree}}</th>
    <th>{{game.topFour}}</th>
    <th>{{game.topFive}}</th>
    <th>{{game.topSix}}</th>
    <th>{{game.topSeven}}</th>
    <th>{{game.topEight}}</th>
    <th>{{game.topNine}}</th>
    <th class='RHE'>{{game.awayRuns}}</th>
    <th class='RHE'>{{game.awayHits}}</th>
    <th class='RHE'>{{game.homeErrors}}</th>
  </tr>
  <tr>
    <th>{{game.home}}</th>
    <th>{{game.botOne}}</th>
    <th>{{game.botTwo}}</th>
    <th>{{game.botThree}}</th>
    <th>{{game.botFour}}</th>
    <th>{{game.botFive}}</th>
    <th>{{game.botSix}}</th>
    <th>{{game.botSeven}}</th>
    <th>{{game.botEight}}</th>
    <th>{{game.botNine}}</th>
    <th class='RHE'>{{game.homeRuns}}</th>
    <th class='RHE'>{{game.homeHits}}</th>
    <th class='RHE'>{{game.awayErrors}}</th>
  </tr>
</table>
