<table>
  <tr>
    <th>{{game.away}}</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>{{game.awayRuns}}</th>
    <th>{{game.awayHits}}</th>
    <th>{{game.awayErrors}}</th>
  </tr>
  <tr>
    <th>{{game.home}}</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>{{game.homeRuns}}</th>
    <th>{{game.homeHits}}</th>
    <th>{{game.homeErrors}}</th>
  </tr>
</table>
