<form class='newPA' {{action 'createPlateappearance' on='submit'}}>
  <select class='btn' onchange={{action 'selectInningHalf' value="target.value"}}>
    <option value='TOP'>TOP</option>
    <option value='BOT'>BOT</option>
  </select><br>
  {{input type='number' placeholder='Inning' value=newPlateappearance.inning required='true' min='1' max='20'}}
  <span class='form-label'>Batter:</span>
  {{input type='number' placeholder='Batter' value=newPlateappearance.batter required='true' min='0' max='99'}}
  <span class='form-label'>Pitcher:</span>
  {{input type='number' placeholder='Pitcher' value=newPlateappearance.pitcher required='true' min='0' max='99'}}
  <span class='form-label'>Batter Result:</span>
  <select class='btn' onchange={{action 'selectOutcome' value="target.value"}}>
    <option value='No AB'>No AB</option>
    <option value='Hit'>Hit</option>
    <option value='Out'>Out</option>
  </select>
  <span class='form-label'>Runs:</span>
  {{input type='number' placeholder='Runs' value=newPlateappearance.runs required='true' min='0' max='4'}}
  <span class='form-label'>Errors:</span>
  {{input type='number' placeholder='Errors' value=newPlateappearance.def_error required='true' min='0' max='99'}}
  <span class='form-label'>Outs:</span>
  {{input type='number' placeholder='Outs' value=newPlateappearance.outs required='true' min='0' max='3'}}
  <button class='btn' type='submit'>New</button>
</form>
