<form {{action 'editPlateappearance' on='submit'}} >
  <span class='form-label'>In the</span>
    <select class='pa-edit-select btn' onchange={{action 'selectInningHalfEdit' value="target.value"}}>
    <option value={{plateappearance.inninghalf}}>{{plateappearance.inninghalf}}</option>
    {{#if (noeq plateappearance.inninghalf "TOP")}}
    <option value='TOP'>TOP</option>
    {{/if}}
    {{#if (noeq plateappearance.inninghalf "BOT")}}
    <option value='BOT'>BOT</option>
    {{/if}}
  </select> <span class='form-label'>of inning</span>
  {{input class='pa-edit-input' type='number' placeholder='Inning' value=plateappearance.inning required='true' min='1' max='20'}},

  <span class='form-label'>batter number</span>
  {{input class='pa-edit-input' type='number' placeholder='Batter' value=plateappearance.batter required='true' min='0' max='99'}}
  <span class='pa-desc-input' class='form-label'>stepped up against pitcher number</span>
  {{input class='pa-edit-input' type='number' placeholder='Pitcher' value=plateappearance.pitcher required='true' min='0' max='99'}},
  <span class='form-label'>resulting in a</span>
  <select class='pa-edit-select btn' onchange={{action 'selectOutcomeEdit' value="target.value"}}>
    <option value={{plateappearance.outcome}}>{{plateappearance.outcome}}</option>
    {{#if (noeq plateappearance.outcome "No AB")}}
    <option value='No AB'>No AB</option>
    {{/if}}
    {{#if (noeq plateappearance.outcome "Hit")}}
    <option value='Hit'>Hit</option>
    {{/if}}
    {{#if (noeq plateappearance.outcome "Out")}}
    <option value='Out'>Out</option>
    {{/if}}
  </select><br><br>
  {{input class='pa-edit-input' type='number' placeholder='Runs' value=plateappearance.runs required='true' min='0' max='4'}}
  <span class='form-label'>runs scored</span><br>
  {{input class='pa-edit-input' type='number' placeholder='Errors' value=plateappearance.def_error required='true' min='0' max='99'}}
  <span class='form-label'>errors made</span><br>
  {{input class='pa-edit-input' type='number' placeholder='Outs' value=plateappearance.outs required='true' min='0' max='3'}}
  <span class='form-label'>outs recorded</span><br>
  {{input type='hidden' class='pa-input' placeholder='1B' value=plateappearance.firstbase required='true'}}
  {{input type='hidden' lass='pa-input' placeholder='2B' value=plateappearance.secondbase required='true'}}
  {{input type='hidden' class='pa-input' placeholder='3B' value=plateappearance.thirdbase required='true'}}
  {{input type='hidden' class='pa-input' placeholder='4B' value=plateappearance.homebase required='true'}}
  {{input type='hidden' class='pa-input' placeholder='1B' value=plateappearance.firstbasemandefense required='true'}}
  {{input type='hidden' class='pa-input' placeholder='2B' value=plateappearance.secondbasemandefense required='true'}}
  {{input type='hidden' class='pa-input' placeholder='3B' value=plateappearance.thirdbasemandefense required='true'}}
  {{input type='hidden' class='pa-input' placeholder='SS' value=plateappearance.shortstopdefense required='true'}}
  {{input type='hidden' class='pa-input' placeholder='LF' value=plateappearance.leftfielderdefense required='true'}}
  {{input type='hidden' class='pa-input' placeholder='RF' value=plateappearance.rightfielderdefense required='true'}}
  {{input type='hidden' class='pa-input' placeholder='CF' value=plateappearance.centerfielderdefense required='true'}}
  {{input type='hidden' class='pa-input' placeholder='P' value=plateappearance.pitcherdefense required='true'}}
  {{input type='hidden' class='pa-input' placeholder='C' value=plateappearance.catcherdefense required='true'}}
  <br>
  <button class='btn' type='submit'>Save</button>
</form>

{{field-controller plateappearance=plateappearance}}
