{{create-plateappearance-form createPlateappearance='createPlateappearance'}}

<table class='plateappearance-table'>
  <tr class='table-header'>
    <th></th>
    <th>Plate Appearances</th>
  </tr>
  <tr>
    <th class='inning-column'>▲1</th>
    <th class='plateappearance-cell'>
      {{#each sortedPlateappearances as |plateappearance|}}
      {{#if (and (eq plateappearance.inning 1)(eq plateappearance.inninghalf 'TOP'))}}
        <div class='pabox'>
        {{plateappearance-box
          plateappearance=plateappearance
          deletePlateappearance='deletePlateappearance'}}
        </div>
        {{/if}}
      {{/each}}
    </th>
  </tr>
  <tr>
    <th class='inning-column'>1▼</th>
    <th class='plateappearance-cell'>
      {{#each sortedPlateappearances as |plateappearance|}}
      {{#if (and (eq plateappearance.inning 1)(eq plateappearance.inninghalf 'BOT'))}}
        <div class='pabox'>
        {{plateappearance-box
          plateappearance=plateappearance
          deletePlateappearance='deletePlateappearance'}}
        </div>
        {{/if}}
      {{/each}}
    </th>
  </tr>
  {{#if (grthan game.totalInnings 1)}}
  <tr>
    <th class='inning-column'>▲2</th>
    <th class='plateappearance-cell'>
      {{#each sortedPlateappearances as |plateappearance|}}
      {{#if (and (eq plateappearance.inning 2)(eq plateappearance.inninghalf 'TOP'))}}
        <div class='pabox'>
        {{plateappearance-box
          plateappearance=plateappearance
          deletePlateappearance='deletePlateappearance'}}
        </div>
        {{/if}}
      {{/each}}
    </th>
  </tr>
  <tr>
    <th class='inning-column'>2▼</th>
    <th class='plateappearance-cell'>
      {{#each sortedPlateappearances as |plateappearance|}}
      {{#if (and (eq plateappearance.inning 2)(eq plateappearance.inninghalf 'BOT'))}}
        <div class='pabox'>
        {{plateappearance-box
          plateappearance=plateappearance
          deletePlateappearance='deletePlateappearance'}}
        </div>
        {{/if}}
      {{/each}}
    </th>
  </tr>
  {{/if}}
  {{#if (grthan game.totalInnings 2)}}
  <tr>
    <th class='inning-column'>▲3</th>
    <th class='plateappearance-cell'>
      {{#each sortedPlateappearances as |plateappearance|}}
      {{#if (and (eq plateappearance.inning 3)(eq plateappearance.inninghalf 'TOP'))}}
        <div class='pabox'>
        {{plateappearance-box
          plateappearance=plateappearance
          deletePlateappearance='deletePlateappearance'}}
        </div>
        {{/if}}
      {{/each}}
    </th>
  </tr>
  <tr>
    <th class='inning-column'>3▼</th>
    <th class='plateappearance-cell'>
      {{#each sortedPlateappearances as |plateappearance|}}
      {{#if (and (eq plateappearance.inning 3)(eq plateappearance.inninghalf 'BOT'))}}
        <div class='pabox'>
        {{plateappearance-box
          plateappearance=plateappearance
          deletePlateappearance='deletePlateappearance'}}
        </div>
        {{/if}}
      {{/each}}
    </th>
  </tr>
  {{/if}}
  {{#if (grthan game.totalInnings 3)}}
  <tr>
    <th class='inning-column'>▲4</th>
    <th class='plateappearance-cell'>
      {{#each sortedPlateappearances as |plateappearance|}}
      {{#if (and (eq plateappearance.inning 4)(eq plateappearance.inninghalf 'TOP'))}}
        <div class='pabox'>
        {{plateappearance-box
          plateappearance=plateappearance
          deletePlateappearance='deletePlateappearance'}}
        </div>
        {{/if}}
      {{/each}}
    </th>
  </tr>
  <tr>
    <th class='inning-column'>4▼</th>
    <th class='plateappearance-cell'>
      {{#each sortedPlateappearances as |plateappearance|}}
      {{#if (and (eq plateappearance.inning 4)(eq plateappearance.inninghalf 'BOT'))}}
        <div class='pabox'>
        {{plateappearance-box
          plateappearance=plateappearance
          deletePlateappearance='deletePlateappearance'}}
        </div>
        {{/if}}
      {{/each}}
    </th>
  </tr>
  {{/if}}
  {{#if (grthan game.totalInnings 4)}}
  <tr>
    <th class='inning-column'>▲5</th>
    <th class='plateappearance-cell'>
      {{#each sortedPlateappearances as |plateappearance|}}
      {{#if (and (eq plateappearance.inning 5)(eq plateappearance.inninghalf 'TOP'))}}
        <div class='pabox'>
        {{plateappearance-box
          plateappearance=plateappearance
          deletePlateappearance='deletePlateappearance'}}
        </div>
        {{/if}}
      {{/each}}
    </th>
  </tr>
  <tr>
    <th class='inning-column'>5▼</th>
    <th class='plateappearance-cell'>
      {{#each sortedPlateappearances as |plateappearance|}}
      {{#if (and (eq plateappearance.inning 5)(eq plateappearance.inninghalf 'BOT'))}}
        <div class='pabox'>
        {{plateappearance-box
          plateappearance=plateappearance
          deletePlateappearance='deletePlateappearance'}}
        </div>
        {{/if}}
      {{/each}}
    </th>
  </tr>
  {{/if}}
  {{#if (grthan game.totalInnings 5)}}
<tr>
  <th class='inning-column'>▲6</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 6)(eq plateappearance.inninghalf 'TOP'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
<tr>
  <th class='inning-column'>6▼</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 6)(eq plateappearance.inninghalf 'BOT'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
{{/if}}
{{#if (grthan game.totalInnings 6)}}
<tr>
  <th class='inning-column'>▲7</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 7)(eq plateappearance.inninghalf 'TOP'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
<tr>
  <th class='inning-column'>7▼</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 7)(eq plateappearance.inninghalf 'BOT'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
{{/if}}
{{#if (grthan game.totalInnings 7)}}
<tr>
  <th class='inning-column'>▲8</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 8)(eq plateappearance.inninghalf 'TOP'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
<tr>
  <th class='inning-column'>8▼</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 8)(eq plateappearance.inninghalf 'BOT'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
{{/if}}
{{#if (grthan game.totalInnings 8)}}
<tr>
  <th class='inning-column'>▲9</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 9)(eq plateappearance.inninghalf 'TOP'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
<tr>
  <th class='inning-column'>9▼</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 9)(eq plateappearance.inninghalf 'BOT'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
{{/if}}
{{#if (grthan game.totalInnings 9)}}
<tr>
  <th class='inning-column'>▲10</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 10)(eq plateappearance.inninghalf 'TOP'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
<tr>
  <th class='inning-column'>10▼</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 10)(eq plateappearance.inninghalf 'BOT'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
{{/if}}
{{#if (grthan game.totalInnings 10)}}
<tr>
  <th class='inning-column'>▲11</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 11)(eq plateappearance.inninghalf 'TOP'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
<tr>
  <th class='inning-column'>11▼</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 11)(eq plateappearance.inninghalf 'BOT'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
{{/if}}
{{#if (grthan game.totalInnings 11)}}
<tr>
  <th class='inning-column'>▲12</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 12)(eq plateappearance.inninghalf 'TOP'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
<tr>
  <th class='inning-column'>12▼</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 12)(eq plateappearance.inninghalf 'BOT'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
{{/if}}
{{#if (grthan game.totalInnings 12)}}
<tr>
  <th class='inning-column'>▲13</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 13)(eq plateappearance.inninghalf 'TOP'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
<tr>
  <th class='inning-column'>13▼</th>
  <th class='plateappearance-cell'>
    {{#each sortedPlateappearances as |plateappearance|}}
    {{#if (and (eq plateappearance.inning 13)(eq plateappearance.inninghalf 'BOT'))}}
      <div class='pabox'>
      {{plateappearance-box
        plateappearance=plateappearance
        deletePlateappearance='deletePlateappearance'}}
      </div>
      {{/if}}
    {{/each}}
  </th>
</tr>
{{/if}}
{{#if (grthan game.totalInnings 13)}}
<tr>
<th class='inning-column'>▲14</th>
<th class='plateappearance-cell'>
  {{#each sortedPlateappearances as |plateappearance|}}
  {{#if (and (eq plateappearance.inning 14)(eq plateappearance.inninghalf 'TOP'))}}
    <div class='pabox'>
    {{plateappearance-box
      plateappearance=plateappearance
      deletePlateappearance='deletePlateappearance'}}
    </div>
    {{/if}}
  {{/each}}
</th>
</tr>
<tr>
<th class='inning-column'>14▼</th>
<th class='plateappearance-cell'>
  {{#each sortedPlateappearances as |plateappearance|}}
  {{#if (and (eq plateappearance.inning 14)(eq plateappearance.inninghalf 'BOT'))}}
    <div class='pabox'>
    {{plateappearance-box
      plateappearance=plateappearance
      deletePlateappearance='deletePlateappearance'}}
    </div>
    {{/if}}
  {{/each}}
</th>
</tr>
{{/if}}
{{#if (grthan game.totalInnings 14)}}
<tr>
<th class='inning-column'>▲15</th>
<th class='plateappearance-cell'>
  {{#each sortedPlateappearances as |plateappearance|}}
  {{#if (and (eq plateappearance.inning 15)(eq plateappearance.inninghalf 'TOP'))}}
    <div class='pabox'>
    {{plateappearance-box
      plateappearance=plateappearance
      deletePlateappearance='deletePlateappearance'}}
    </div>
    {{/if}}
  {{/each}}
</th>
</tr>
<tr>
<th class='inning-column'>15▼</th>
<th class='plateappearance-cell'>
  {{#each sortedPlateappearances as |plateappearance|}}
  {{#if (and (eq plateappearance.inning 15)(eq plateappearance.inninghalf 'BOT'))}}
    <div class='pabox'>
    {{plateappearance-box
      plateappearance=plateappearance
      deletePlateappearance='deletePlateappearance'}}
    </div>
    {{/if}}
  {{/each}}
</th>
</tr>
{{/if}}
{{#if (grthan game.totalInnings 15)}}
<tr>
<th class='inning-column'>▲16</th>
<th class='plateappearance-cell'>
  {{#each sortedPlateappearances as |plateappearance|}}
  {{#if (and (eq plateappearance.inning 16)(eq plateappearance.inninghalf 'TOP'))}}
    <div class='pabox'>
    {{plateappearance-box
      plateappearance=plateappearance
      deletePlateappearance='deletePlateappearance'}}
    </div>
    {{/if}}
  {{/each}}
</th>
</tr>
<tr>
<th class='inning-column'>16▼</th>
<th class='plateappearance-cell'>
  {{#each sortedPlateappearances as |plateappearance|}}
  {{#if (and (eq plateappearance.inning 16)(eq plateappearance.inninghalf 'BOT'))}}
    <div class='pabox'>
    {{plateappearance-box
      plateappearance=plateappearance
      deletePlateappearance='deletePlateappearance'}}
    </div>
    {{/if}}
  {{/each}}
</th>
</tr>
{{/if}}
{{#if (grthan game.totalInnings 16)}}
<tr>
<th class='inning-column'>▲17</th>
<th class='plateappearance-cell'>
  {{#each sortedPlateappearances as |plateappearance|}}
  {{#if (and (eq plateappearance.inning 17)(eq plateappearance.inninghalf 'TOP'))}}
    <div class='pabox'>
    {{plateappearance-box
      plateappearance=plateappearance
      deletePlateappearance='deletePlateappearance'}}
    </div>
    {{/if}}
  {{/each}}
</th>
</tr>
<tr>
<th class='inning-column'>17▼</th>
<th class='plateappearance-cell'>
  {{#each sortedPlateappearances as |plateappearance|}}
  {{#if (and (eq plateappearance.inning 17)(eq plateappearance.inninghalf 'BOT'))}}
    <div class='pabox'>
    {{plateappearance-box
      plateappearance=plateappearance
      deletePlateappearance='deletePlateappearance'}}
    </div>
    {{/if}}
  {{/each}}
</th>
</tr>
{{/if}}
{{#if (grthan game.totalInnings 17)}}
<tr>
<th class='inning-column'>▲18</th>
<th class='plateappearance-cell'>
  {{#each sortedPlateappearances as |plateappearance|}}
  {{#if (and (eq plateappearance.inning 18)(eq plateappearance.inninghalf 'TOP'))}}
    <div class='pabox'>
    {{plateappearance-box
      plateappearance=plateappearance
      deletePlateappearance='deletePlateappearance'}}
    </div>
    {{/if}}
  {{/each}}
</th>
</tr>
<tr>
<th class='inning-column'>18▼</th>
<th class='plateappearance-cell'>
  {{#each sortedPlateappearances as |plateappearance|}}
  {{#if (and (eq plateappearance.inning 18)(eq plateappearance.inninghalf 'BOT'))}}
    <div class='pabox'>
    {{plateappearance-box
      plateappearance=plateappearance
      deletePlateappearance='deletePlateappearance'}}
    </div>
    {{/if}}
  {{/each}}
</th>
</tr>
{{/if}}
</table>
