<div class="score {{if plateappearance.runs 'runs'}}" class="{{if plateappearance.outs 'outs'}}">
{{#link-to 'plateappearance-edit' plateappearance.game.id plateappearance.id}}
  #{{plateappearance.batter}}
{{/link-to}}<br>
<button class='btn delete-pa' {{action 'deletePlateappearance'}}>X</button>
</div>

{{outlet}}
