{{#link-to 'plateappearance-edit' plateappearance.game.id plateappearance.id}}
  <button class="score {{if plateappearance.runs 'runs'}}" class="{{if plateappearance.outs 'outs'}}">#{{plateappearance.batter}}</button>
{{/link-to}}<br>
{{#if (grthan plateappearance.runs 0)}}
<span class='runs-badge'>{{plateappearance.runs}}</span>
{{/if}}
{{#if (grthan plateappearance.outs 0)}}
<span class='outs-badge'>{{plateappearance.outs}}</span>
{{/if}}
<button class='btn delete-pa' {{action 'deletePlateappearance'}}><i class="fa fa-times" aria-hidden="true"></i></button>

{{outlet}}
