{{email-input email=credentials.email}}
{{password-input password=credentials.password}}
{{password-confirmation-input password=credentials.passwordConfirmation}}

<button type="submit" class="btn" {{action "submit"}}>
  Sign Up
</button>

<button class="btn" {{action "reset"}}>
  Reset
</button>

{{#link-to 'application'}}
<button class="btn">
  <i class="fa fa-times" aria-hidden="true"></i>
</button>
{{/link-to}}
