<h1>{{model.away}} @ {{model.home}}</h1>
<h3>{{model.date}}</h3>
{{#link-to 'games'}}<button class='btn'><i class="fa fa-arrow-left" aria-hidden="true"></i></button>{{/link-to}}

{{#link-to 'delete-confirm' model}}
  <button class='btn'><i class="fa fa-trash" aria-hidden="true"></i></button>
{{/link-to}}

{{#link-to 'edit-game' model}}
  <button class='btn'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
{{/link-to}}

{{box-score game=model}}

{{game-breakdown
  game=model
  createPlateappearance='createPlateappearance'
  deletePlateappearance='deletePlateappearance'
}}
