<h1>{{model.away}} @ {{model.home}}</h1>
<h3>{{model.date}}</h3>
{{#link-to 'games'}}<button class='btn'><i class="fa fa-arrow-left" aria-hidden="true"></i></button>{{/link-to}}
{{box-score game=model}}

{{game-breakdown
  game=model
  createPlateappearance='createPlateappearance'
  deletePlateappearance='deletePlateappearance'
}}
{{#link-to 'games'}}<button class='btn'><i class="fa fa-arrow-left" aria-hidden="true"></i></button>{{/link-to}}
{{go-up}}
